D:\Pedro\Pedro Documents\Security-Project\Secure-IT\workspace\JavaCard\apdutool.sh
D:\Pedro\Pedro Documents\Security-Project\Secure-IT\workspace\JavaCard\CAPGenerationScript.txt
D:\Pedro\Pedro Documents\Security-Project\Secure-IT\workspace\JavaCard\converter.sh
D:\Pedro\Pedro Documents\Security-Project\Secure-IT\workspace\JavaCard\projectBuilder.xml